<nav class="navbar navbar-inverse">
  <img class="logo" src="/assets/upload.png" />
  <div class="locations">
    <form method="post">
    <input type="radio" name="location" value="Downtown"> Downtown
    <input type="radio" name="location" value="Pasadena"> Pasadena
    <input type="radio" name="location" value="Hollywood"> Hollywood
    <input type="radio" name="location" value="Santa Monica"> Santa Monica
    </form>
  </div>
</nav>
<div class="angular-google-map-container">

  <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'></ui-gmap-google-map>

</div>


