<nav class="navbar navbar-inverse">
  <img class="logo" src="/assets/upload.png" />
  <div class="locations">
    <form method="post">
    <input type="radio" name="location" value="Downtown"> Downtown
    <input type="radio" name="location" value="Pasadena"> Pasadena
    <input type="radio" name="location" value="Hollywood"> Hollywood
    <input type="radio" name="location" value="Santa Monica"> Santa Monica
    </form>
  </div>
</nav>
<div class="angular-google-map-container">

  <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>

<!--   <ui-gmap-marker coords="latitude: 34.0500, longitude: -118.2500" idkey="0">
  </ui-gmap-marker> -->

    <ui-gmap-markers models="vm.busses" coords="'coords'" icon="'icon'">
    </ui-gmap-markers>

  </ui-gmap-google-map>

</div>


