// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.angular-google-map-container {
  height: 600px;
}
.navbar {
  color: #FFF;
  background-color: #000;
}
body {
  background-color: #000;
}
.locations {
  float: right;
  padding-right: 20px;
  padding-top: 25px;
}
.logo {
  height: 70px;
  padding: 10px;
}